<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CollectionRenderer tests</title>
</head>
<body>
	<script src="../../deps/dojo/dojo.js"></script>
	<script>
		require({
			paths: {
				ksf: "../../../SkFramework",
				frb: "../frb-amd",
				collections: "../collections-amd",
			}
		},[
			"../CollectionRenderer.js",
			"put-selector/put",
			"frb/bind",
			"frb/bindings",
			"dojo/on",
			"frb/dom",
		], function(
			CollectionRenderer,
			put,
			bind,
			bindings,
			on
		){

			window.repeater = new CollectionRenderer({
				container: put("ul"),
				renderer: {
					create: function(value){
						return put("li", value);
					},
					destroy: function(li){
						li.innerHTML = "destroyed";
					},
					place: function(cmp, container, index){
						container.insertBefore(cmp, container.children[index]);
					},
					unplace: function(cmp, container, index){
						container.removeChild(cmp);
					},
				}
			});
			document.body.appendChild(repeater.container);

			window.collection = ["a", "b", "c"];
			window.repeaterDomChildren = repeater.container.children;

			function assertDomUpdated (){
				console.assert(collection.length === repeaterDomChildren.length, "Collection and dom nodes are not the same lentgh");
				collection.forEach(function(value, index){
					console.assert(repeaterDomChildren[index].innerHTML === value, "A value is not in dom", value);
				});
			}

			// set a non empty collection
			repeater.collection = collection;
			assertDomUpdated();


			// change a value in collection
			collection.set(2, "deux");
			assertDomUpdated();

			// push a new value in collection
			collection.push("c");
			assertDomUpdated();

			// remove and insert many values in collection
			collection.splice(1, 2, "splice1", "splice2", "splice3");
			assertDomUpdated();

			//sort collection
			collection.sort();
			assertDomUpdated();

			// remove one value at the beginning of the collection
			// check that the corresponding component has been destroyed
			var li = repeater._components[0];
			collection.shift();
			assertDomUpdated();
			console.assert(li.innerHTML === "destroyed");

			//remove many values from the collection
			collection.splice(1, 3);
			assertDomUpdated();

			//set an empty collection
			collection = [];
			repeater.collection = collection;
			assertDomUpdated();

			// set a new non empty collection in the repeater
			collection = ["un", "deux", "trois"];
			repeater.collection = collection;
			assertDomUpdated();

			//destroy repeater
			repeater.destroy();
			//check that the value binding is canceled
			console.assert(collection.getRangeChangeDescriptor().changeListeners.length === 0);


			// other tests with object items

			syv = {name: "Sylvain", child: "false", sexe: "M"};
			aur = {name: "Aurélie", child: "false", sexe:"F"};
			ant = {name: "Antonin", child: true, sexe:"M"};
			leo = {name: "Léonie", child: true, sexe:"F"};
			collection = [syv, aur, ant];


			window.repeater = new CollectionRenderer({
				renderer: {
					create: function(value){
						return bindings.defineBinding(document.createElement("input"), "value", {
							"<->": "name", source: value
						});
					},
					destroy: function(el){
						bindings.cancelBinding(el, "value");
					},
					place: function(cmp, container, index){
						container.insertBefore(cmp, container.children[index]);
					},
					unplace: function(cmp, container, index){
						container.removeChild(cmp);
					},
				}
			});
			document.body.appendChild(repeater.container);

			repeater.collection = collection;

			repeaterDomChildren = repeater.container.children;
			function assertDomInputUpdated (){
				console.assert(collection.length === repeaterDomChildren.length, "Collection and dom nodes are not the same lentgh");
				collection.forEach(function(value, index){
					console.assert(repeaterDomChildren[index].value === value.name, "A value is not in dom", value);
				});
			}

			//check that initial collection is well rendered
			assertDomInputUpdated();

			// add and remove values in collection
			collection.splice(1,2, leo);
			assertDomInputUpdated();

			// change one value in collection
			collection.set(0, aur);
			assertDomInputUpdated();

			// change a value property
			aur.name = "Aur";
			assertDomInputUpdated();

			// simulate a change from user
			window.input = repeater._components[0];
			input.value = "Aurélie";
			on.emit(input, "change", {});
			assertDomInputUpdated();




		});
	</script>
</body>
</html>