<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Flex layout</title>
		<script src="../../../../bower_components/dojo/dojo.js"></script>
		<script src="../../../../require-config.js"></script>
		<script>
(function () {
	var ksfRoot = location.pathname.replace(/[^\/]+$/, '') + '../../../..';
	require({
		baseUrl: ksfRoot + '/bower_components',
		packages: [
			{ name: 'ksf', location: ksfRoot },
		],
	}, [ 'ksf/components/layout/tests/FlexContainer/nestedFlex' ]);


})();
		</script>
	</head>
</html>